*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    height:100vh;
    background:black;
    overflow:hidden;
}

.container{
    position:relative;
    width:100%;
    height:100vh;
     /* display: flex;
    justify-content: center;
    align-items: center; */
} 


.sun{   
     position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%); 
    width:140px;
    border-radius:50%;
    box-shadow:0 0 40px orange;
}


.orbit{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    border: 1px solid rgba(255,255,255,0.2);
    border-radius:50%;
}


.planet{
    position:absolute;
    top:0;
    left:50%;
    transform:translateX(-50%);
    border-radius:50%;
}


.mercury-orbit{
    width:200px;
    height:200px;
    animation:orbit 3s linear infinite;
}
.mercury{
    width:20px;
}


.venus-orbit{
    width:280px;
    height:280px;
    animation:orbit 6s linear infinite;
}
.venus{
    width:28px;
}


.earth-orbit{
    width:380px;
    height:380px;
    animation:orbit 9s linear infinite;
}
.earth{
    width:30px;
}
.earth-system{
    position: relative;
}
.moon-orbit{
    position: relative;
    width: 90px;
    height: 90px;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border: 1px solid rgba(255,255,255,0.15S);
    border-radius: 50%;
    animation:orbit 15s linaer infinite;

}
.moon{
    width:16px;
}


.mars-orbit{
    width:480px;
    height:480px;
    animation:orbit 12s linear infinite;
}
.mars{
    width:30px;
}
.juipter-orbit{
    width:580px;
    height:580px;
    animation:orbit 20s linear infinite;
}
.juipter{
    width:50px;
}
.saturn-orbit{
    width:680px;
    height:680px;
    animation:orbit 16s linear infinite;
}
.saturn{
    width:45px;
}
.uraneus-orbit{
    width:780px;
    height:780px;
    animation:orbit 22s linear infinite;
}
.uraneus{
    width:42px;
}
.neptune-orbit{
    width: 880px;
    height:880px;
    animation:orbit 28s linear infinite;
}
.neptune{
    width:40px;
}

@keyframes orbit{
    from{
        transform:translate(-50%,-50%) rotate(0deg);
    }
    to{
        transform:translate(-50%,-50%) rotate(360deg);
    }
}

.star{
    position:absolute;
    width:2px;
    height:2px;
    background:white;
    border-radius:50%;
    box-shadow:0 0 6px white;
}
